<div class="fitness">
  <h1>Map of US Fitness per {{selection}}</h1>
  <h3>This is the percentage of the population that claims to exercise regularly. The percentage that is unaccounted for refers to the inactivity of the population.</h3>
  <button type="button" ng-click="state()">By State</button>
  <button type="button" ng-click="county()">By County</button>
  <a target="_blank" href="http://www.cdc.gov/diabetes/data/countydata/countydataindicators.html"><p>According to the most recent data from the Centor for Disease Control.</p></a>
  <div class="fitnessmap"></div>

</div>
