<div class="landing">
  <br>
  <h1 class="banner">What happens if we look at educational attainment associated with rates of fitness with a direct corrolation of obesity?</h1>
  <br>
  <hr>
  <br>
  <h3>The results show that education and fitness have a direct corrolation with the rate of obesity in local proximity.</h3>
  <h3>The more educated a group of people is, the more likely they will exercise and take care of their body.</h3>
  <h3>And of course, the more a group of people exercises, the less likely it is that the group is overweight.</h3>
  <h3>Toggle through the links above to see the charts and the results.</h3>
  <br>
  <hr>
  <br>
  <div class="landingflex">
    <div class="smart" ui-sref="education">
      <h3>See the Education Charts</h3>
    </div>
    <div class="run" ui-sref="fitness">
      <h3>See the Fitness Charts</h3>
    </div>
    <div class="donut" ui-sref="obesity">
      <h3>See the Obesity Charts</h3>
    </div>
  </div>
</div>
